include ./base/sidenav.jade
include ./base/search.jade
include ./base/hotels.jade
include ./base/banners.jade			
include ./base/showcases.jade			
include ./base/footers.jade

doctype html
head
	title Viasun2 — Страна
	include ./base/head.jade
body
	+sidenav-country("About")
	include ./base/navbar.jade
	.header.header-image(style="background-image: url(./img/headers/austria.jpg);")
		.container
			ol.breadcrumb
				li
					a(href="./countries.html") Страны
			a.btn.btn-warning.btn-xxl.header-button(href="#") Подбор тура
			h1 Австрия
	.page
		.container
			.row
				.col-md-12
					.content
						.block
							h2 Туры в&nbsp;Австрию из&nbsp;Новосибирска
							.tabpanel
								ul.nav.nav-lines
									li.active
										a(href="#", data-toggle="tab", data-target=".tab-from-nsk") Вылет из&nbsp;Новосибирска
									li
										a(href="#", data-toggle="tab", data-target=".tab-from-msk") из&nbsp;Москвы
								.tab-content
									.tab-pane.tab-from-nsk.active
										.medialist.resorts
											+resort(false, "//hotels.sletat.ru/i/p/16578_0_100_140_1.jpg", "Вена", "Сюда приезжают, чтобы посмотреть достопримечательности, познакомиться со&nbsp;знаменитой венской оперой и&nbsp;просто для&nbsp;неспешных прогулок", "112&nbsp;200", "307&nbsp;отелей", "4&nbsp;фото", "–2", "Культура", "Музеи", "Архитектура")
											+resort(false, "//hotels.sletat.ru/i/p/11390_0_100_140_1.jpg", "Зальцбург", "Его живописные ландшафты, великолепные архитектурные памятники и&nbsp;богатая история делают его чрезвычайно привлекательным для&nbsp;туристов", "87&nbsp;678", "292&nbsp;отеля", "5&nbsp;фото", "0", "Семейный", "Экскурсии", "Горные лыжи", "Шоппинг")
											+resort(false, "//hotels.sletat.ru/i/p/30398_0_100_140_1.jpg", "Инсбрук", "У Инсбрука древняя история. Сюда стремятся любители активного зимнего отдыха и ценители старинной архитектуры", "12&nbsp;180", "106&nbsp;отелей", "5&nbsp;фото", "0", "Семейный", "Архитектура", "Шоппинг")
											+resort(false, "//hotels.sletat.ru/i/p/36738_0_100_140_1.jpg", "Каринтия", "Его живописные ландшафты, великолепные архитектурные памятники и&nbsp;богатая история делают его чрезвычайно привлекательным для&nbsp;туристов", "110&nbsp;002", "275&nbsp;отелей", "5&nbsp;фото", "", "Горные лыжи", "Музеи")
									.tab-pane.tab-from-msk
										.medialist.resorts
											+resort(false, "//hotels.sletat.ru/i/p/16578_0_100_140_1.jpg", "Вена", "Сюда приезжают, чтобы посмотреть достопримечательности, познакомиться со&nbsp;знаменитой венской оперой и&nbsp;просто для&nbsp;неспешных прогулок", "44&nbsp;218", "307&nbsp;отелей", "4&nbsp;фото", "–2", "Культура", "Музеи", "Архитектура")
											+resort(false, "//hotels.sletat.ru/i/p/11390_0_100_140_1.jpg", "Зальцбург", "Его живописные ландшафты, великолепные архитектурные памятники и&nbsp;богатая история делают его чрезвычайно привлекательным для&nbsp;туристов", "67&nbsp;109", "292&nbsp;отеля", "5&nbsp;фото", "0", "Семейный", "Экскурсии", "Горные лыжи", "Шоппинг")
											+resort(false, "//hotels.sletat.ru/i/p/30398_0_100_140_1.jpg", "Инсбрук", "У Инсбрука древняя история. Сюда стремятся любители активного зимнего отдыха и ценители старинной архитектуры", "16&nbsp;203", "106&nbsp;отелей", "5&nbsp;фото", "0", "Семейный", "Архитектура", "Шоппинг")
											+resort(false, "//hotels.sletat.ru/i/p/36738_0_100_140_1.jpg", "Каринтия", "Его живописные ландшафты, великолепные архитектурные памятники и&nbsp;богатая история делают его чрезвычайно привлекательным для&nbsp;туристов", "80&nbsp;973", "275&nbsp;отелей", "5&nbsp;фото", "", "Горные лыжи", "Музеи")
							.block-readmore
								a(href="./resorts.html") Ещё 10&nbsp;курортов Австрии
						+search
						include ./base/adverts.jade
						+hotels-showcase()
						.block
							h2 12 преимуществ отдыха в&nbsp;Австрии
							.slider-pro
								.sp-slides
									.sp-slide
										img.sp-image(src="http://storage.viasun.ru/countries/benefits/wux5ekzo0m.jpg")
										.sp-caption
											.slide-number 1 из 12
											h3 Горнолыжные курорты высшего уровня
											p В стране множество трасс, которые прекрасно обустроены для горнолыжников любого уровня подготовки. Здесь с комфортом могут кататься и новички, и экстремалы. При этом уровень сервиса очень высок, инфраструктура развита отлично. Именно в Австрии были открыты первые в мире школы по обучению езде на горных лыжах.
									.sp-slide
										img.sp-image(src="http://storage.viasun.ru/countries/benefits/dr3dlrt9ot.jpg")
										.sp-caption
											.slide-number 2 из 12
											h3 Отличное соотношение цены и качества
											p Из всех альпийских курортов австрийские считаются едва ли не лучшими по соотношению цены и качества. Здесь могут предоставить самые разнообразные услуги за вполне адекватную цену, а стоимость проживания и питания самая разная – в зависимости от уровня, но сервис всегда достойный – как в отелях и шале, так и в апартаментах.
									.sp-slide
										img.sp-image(src="http://storage.viasun.ru/countries/benefits/v2znsi18w9.jpg")
										.sp-caption
											.slide-number 3 из 12
											h3 Спокойный размеренный отдых
											p Атмосфера в Австрии очень спокойная, здесь жизнь течет размеренно, гости чувствуют себя уютно и в безопасности. Самый расслабляющий и аристократический отдых – на озерах, в курортных местах Клопайнер-Зе и Вертер-Зе. Там можно жить в роскошных виллах и старинных замках, наслаждаться красотами природы, играть в поло, заниматься пешими прогулками или серфингом.
									.sp-slide
										img.sp-image(src="http://storage.viasun.ru/countries/benefits/d6pto1cbc1.jpg")
										.sp-caption
											.slide-number 4 из 12
											h3 Живописная природа
											p Горные пейзажи в Австрии просто нереально красивы. Воображение поражают шикарные водопады, живописные плато, очаровательные озера. Тихие берега Дуная покрыты лесами, в которых, кажется, еще живут тролли, пригороды Вены полны прекрасных садов.
									.sp-slide
										img.sp-image(src="http://storage.viasun.ru/countries/benefits/ndeuizteof.jpg")
										.sp-caption
											.slide-number 5 из 12
											h3 Красота австрийских городов
											p В городах Австрии можно найти здания самых разных архитектурных стилей и эпох и очень живописные окрестности. Каждый город — особенный. В Инсбруке обязательно надо посетить саркофаг Максимилиана I, базилику Вильтен и дворец Хофбург. Линц поражает барочной церковью св. Мартина и аббатством Санкт-Флориан. Зальцбург весь полон архитектурными шедеврами — Хоэнзальцбург, Резидентплац, Кафедральный собор
									.sp-slide
										img.sp-image(src="http://storage.viasun.ru/countries/benefits/lgykhi6wip.jpg")
										.sp-caption
											.slide-number 6 из 12
											h3 Неповторимая атмосфера Вены
											p Один из самых красивых городов мира расположен в живописном месте на берегах Дуная и окружен прекрасным лесом. Вена – это архитектура в стиле барокко, пышность и изысканность, наполненные сокровищами музеи, золотые статуи святых на храмах, танцующие под музыку белые лошади, склоняющиеся в поклоне метрдотели.
									.sp-slide
										img.sp-image(src="http://storage.viasun.ru/countries/benefits/dutj7aus8x.jpg")
										.sp-caption
											.slide-number 7 из 12
											h3 Венская опера и фестивали классической музыки
											p Вену недаром называют музыкальной столицей мира – чтобы побывать в здешней знаменитой опере, съезжаются туристы со всех концов света. Но в городе есть и множество концертных залов, а звуки вальса и серенад слышны в парках и на улицах. Здесь творили Моцарт, Бетховен, Штраус, Шуберт, Глюк, Брамс, Гайдн, Малер. Сегодня их музыка звучит особенно волшебно именно в Вене.
									.sp-slide
										img.sp-image(src="http://storage.viasun.ru/countries/benefits/004gl05wid.jpg")
										.sp-caption
											.slide-number 8 из 12
											h3 Древние дворцы и замки
											p На территории страны множество прекрасных дворцов и замков с изысканной архитектурой и роскошным внутренним убранством. Они окружены великолепными садами и милыми альпийскими деревушками. Обязательно стоит посетить дворец Артштеттен со склепом Франца-Фердинанда, Ригерсбург в стиле барокко, ренессансный Шаллабург и оплот масонства - древнюю крепость Раппотгенштайн.
									.sp-slide
										img.sp-image(src="http://storage.viasun.ru/countries/benefits/jdm13iqzgx.jpg")
										.sp-caption
											.slide-number 9 из 12
											h3 Бальнеологические курорты
											p Бальнеологические курорты Австрии славятся своими целебными минеральными источниками. Самые знаменитые, горячие сероводородные, находятся в Бадене. Испокон веков сюда съезжались знать и знаменитости, здесь была летняя резиденция императоров. Сегодня на курорте лечат заболевания суставов и позвоночника, артриты и артрозы, ревматизм, укрепляют организм и просто отдыхают среди живописных холмов, виноградников и полей.
									.sp-slide
										img.sp-image(src="http://storage.viasun.ru/countries/benefits/f2ysshqssx.jpg")
										.sp-caption
											.slide-number 10 из 12
											h3 Винные традиции
											p Они в стране очень давние, поэтому вина обладают богатым букетом. Недаром попробовать здешний рислинг или фельтлинер хотят гости со всего мира. Вино делают даже в самой Вене. Его подают в многочисленных маленьких ресторанчиках на окраинах города.
									.sp-slide
										img.sp-image(src="http://storage.viasun.ru/countries/benefits/vt8pccotu2.jpg")
										.sp-caption
											.slide-number 11 из 12
											h3 Венский кофе и кондитерские
											p Прославленные австрийские кафе и кондитерские – это зачастую настоящие культурные центры. Там проходят концерты и выставки, турниры и дискуссии. И, конечно же, надо обязательно попробовать великолепный ароматный кофе и чудесные пирожные, а также съесть кусочек знаменитого торт Захер».
									.sp-slide
										img.sp-image(src="http://storage.viasun.ru/countries/benefits/jh8wp0dn95.jpg")
										.sp-caption
											.slide-number 12 из 12
											h3 Хрустальные миры Сваровски
											p Этот уникальный музей, посвященный знаменитой фирме, находится в Ваттенсе, войти в него можно через самый настоящий холм с водопадом. Внутри множество экспонатов — украшения и аксессуары, фигурки из хрусталя, предметы интерьера и оптические приборы.
						.block
							.block-header
								h2 Обзор
								.block-header-nav
									a(href="./country-info.html") Справочник
									a(href="./country-currency.html") Валюта
									a(href="./country-visa.html") Виза
									a(href="./country-cuisine.html") Кухня
									a(href="./country-transport.html") Транспорт
									a(href="./country-shopping.html") Шоппинг
							.row
								.col-sm-8
									p Перелет из Москвы в Австрию занимает около 3 часов.
									p Цены на туры в Австрию 2014: от 28 700 Р на человека (из Москвы)
									p Австрия – красивая европейская страна с богатой историей. Она прославилась на весь мир благодаря своим горнолыжным и бальнеологическим курортам. Многие туристы сегодня совмещают зимний и оздоровительный отдых в Австрии с экскурсиями по старинным городам страны.
									h3 Курорты Австрии
									p
										span.strong Горнолыжные.
										|  Самым элитным зимним курортом Австрии признан Лех. Для молодежного отдыха подходят Ишгль, Майрхофен и Китцбюэль.
									p
										span.strong Лечебные.
										|  Большинство любителей оздоровительноготуризма отдыхает на популярном спа-курорте Баден. Отличный отдых на термальных источниках ждет туристов на курортах Бад Хофгаштайн и Бад Гаштайн.
									h3 Климат
									p Австрия – страна с умеренным климатом. Покататься на лыжах здесь можно с ноября по март. Бальнеологические курорты Австрии открыты в теплое время года.
								.col-sm-8
									h3 Чем заняться?
									p
										span.strong Оздоровительный туризм.
										|  Австрия высоко ценится туристами за возможность быстро поправить здоровье на термальных источниках. Бальнеологические курорты этой страны расположены в живописной местности. Сегодня они предлагают своим гостям широкий спектр оздоровительных процедур и отличное обслуживание.
									p
										span.strong Горнолыжные туры.
										|  Австрия – одна из любимых стран тех, кто интересуется катанием на горных лыжах и сноубордингом. В этой стране насчитывается немало интересных трасс, исследовать которые приезжают туристы со всего мира. 
									p
										span.strong Отдых на озерах.
										|  Многих туристов привлекает нетронутая природа Австрии и ее кристально-чистые озера. «Озерным краем» называют южную провинцию страны, Каринтию. Здесь часто отдыхают туристы с детьми.
									p
										span.strong Достопримечательности.
										|  Украшением Австрии является ее блистательная столица – Вена. Гостям этого города предлагается полюбоваться собором святого Стефана и дворцом Шёнбрунн, а также посетить многочисленные выставки и музеи. Туристы, оказавшиеся в Австрии, часто отправляются на родину Моцарта – в город Зальцбург. По сей день в стране сохранилось немало средневековых замков, которые с большим интересом изучают любители старинных достопримечательностей.
						.block
							.row
								.col-sm-8
									h3 Австрия из&nbsp;Москвы 2014 / 2015
									p На нашем портале вы найдете цены на путевки и горящие туры в Австрию из Москвы.
									p Если нужна помощь, то менеджеры агентств Москвы помогут организовать отдых в Австрии, учитывая ваши пожелания. 
										a(href="./getaquote.html") Просто оформите заявку
										| . Индивидуальный подход гарантируем!
								.col-sm-8
									h3 Вылеты с других городов
									ul.list-unstyled
										li
											a(href="./seo.html") Австрия из&nbsp;Москвы
										li
											a(href="./seo.html") Австрия из&nbsp;Санкт-Петербурга
									h3 Похожие страны
									p
										a(href="./country.html") Германия
										| , 
										a(href="./country.html") Польша
										| , 
										a(href="./country.html") Франция
										| , 
										a(href="./country.html") Чехия
						.block.block-stroked
							h3 Австрия по&nbsp;сезонам
							+tours-seasons
						+search
				.col-md-4.hidden-sm
					.sidebar
						+banner-expert
	+footer-country
	+footer-base
	+modal-search
	include ./base/modal-city.jade
	include ./base/scripts.jade
	include ./base/scripts-search.jade