include ./base/banners.jade			
include ./base/footers.jade

doctype html
head
	title Viasun2 — Страны
	include ./base/head.jade
body
	include ./base/navbar.jade
	.header.header-image(style="background-image: url(./img/headers/austria.jpg);")
		.container
			h1 Страны
	.page
		.container
			.row
				.col-md-12
					.content
						.block.list-countries
							ul.nav.nav-lines
								li.active
									a(href="./countries.html") Все&nbsp;страны
								li
									a(href="./countries.html") Прямой вылет из&nbsp;Москвы
							h2 Европа
							ul.list-unstyled.columns-4
								li
									a.countryflag.countryflag-austria(href="./country.html") Австрия
								li
									a.countryflag.countryflag-andorra(href="./country.html") Андорра
								li
									a.countryflag.countryflag-belgium(href="./country.html") Бельгия
								li
									a.countryflag.countryflag-bulgaria(href="./country.html") Болгария
								li
									a.countryflag.countryflag-greatbritain(href="./country.html") Великобритания
								li
									a.countryflag.countryflag-hungary(href="./country.html") Венгрия
								li
									a.countryflag.countryflag-germany(href="./country.html") Германия
								li
									a.countryflag.countryflag-greece(href="./country.html") Греция
								li
									a.countryflag.countryflag-georgia(href="./country.html") Грузия
								li
									a.countryflag.countryflag-denmark(href="./country.html") Дания
								li
									a.countryflag.countryflag-ireland(href="./country.html") Ирландия
								li
									a.countryflag.countryflag-iceland(href="./country.html") Исландия
								li
									a.countryflag.countryflag-spain(href="./country.html") Испания
								li
									a.countryflag.countryflag-italy(href="./country.html") Италия
								li
									a.countryflag.countryflag-cyprus(href="./country.html") Кипр
								li
									a.countryflag.countryflag-latvia(href="./country.html") Латвия
								li
									a.countryflag.countryflag-lithuania(href="./country.html") Литва
								li
									a.countryflag.countryflag-luxembourg(href="./country.html") Люксембург
								li
									a.countryflag.countryflag-macedonia(href="./country.html") Македония
								li
									a.countryflag.countryflag-malta(href="./country.html") Мальта
								li
									a.countryflag.countryflag-monaco(href="./country.html") Монако
								li
									a.countryflag.countryflag-netherlands(href="./country.html") Нидерланды
								li
									a.countryflag.countryflag-norway(href="./country.html") Норвегия
								li
									a.countryflag.countryflag-poland(href="./country.html") Польша
								li
									a.countryflag.countryflag-portugal(href="./country.html") Португалия
								li
									a.countryflag.countryflag-russia(href="./country.html") Россия
								li
									a.countryflag.countryflag-romania(href="./country.html") Румыния
								li
									a.countryflag.countryflag-slovakia(href="./country.html") Словакия
								li
									a.countryflag.countryflag-slovenia(href="./country.html") Словения
								li
									a.countryflag.countryflag-ukraine(href="./country.html") Украина
								li
									a.countryflag.countryflag-finland(href="./country.html") Финляндия
								li
									a.countryflag.countryflag-france(href="./country.html") Франция
								li
									a.countryflag.countryflag-croatia(href="./country.html") Хорватия
								li
									a.countryflag.countryflag-montenegro(href="./country.html") Черногория
								li
									a.countryflag.countryflag-czech(href="./country.html") Чехия
								li
									a.countryflag.countryflag-switzerland(href="./country.html") Швейцария
								li
									a.countryflag.countryflag-sweden(href="./country.html") Швеция
								li
									a.countryflag.countryflag-estonia(href="./country.html") Эстония
							h2 Азия
							ul.list-unstyled.columns-4
								li
									a.countryflag.countryflag-abkhasia(href="./country.html") Абхазия
								li
									a.countryflag.countryflag-vietnam(href="./country.html") Вьетнам
								li
									a.countryflag.countryflag-israel(href="./country.html") Израиль
								li
									a.countryflag.countryflag-india(href="./country.html") Индия
								li
									a.countryflag.countryflag-indonesia(href="./country.html") Индонезия
								li
									a.countryflag.countryflag-jordan(href="./country.html") Иордания
								li
									a.countryflag.countryflag-cambodia(href="./country.html") Камбоджа
								li
									a.countryflag.countryflag-china(href="./country.html") Китай
								li
									a.countryflag.countryflag-laos(href="./country.html") Лаос
								li
									a.countryflag.countryflag-malasia(href="./country.html") Малайзия
								li
									a.countryflag.countryflag-maldives(href="./country.html") Мальдивы
								li
									a.countryflag.countryflag-myanma(href="./country.html") Мьянма (Бирма)
								li
									a.countryflag.countryflag-nepal(href="./country.html") Непал
								li
									a.countryflag.countryflag-uae(href="./country.html") ОАЭ
								li
									a.countryflag.countryflag-singapore(href="./country.html") Сингапур
								li
									a.countryflag.countryflag-taiwan(href="./country.html") Тайвань
								li
									a.countryflag.countryflag-thailand(href="./country.html") Тайланд
								li
									a.countryflag.countryflag-turkey(href="./country.html") Турция
								li
									a.countryflag.countryflag-philippines(href="./country.html") Филиппины
								li
									a.countryflag.countryflag-srilanka(href="./country.html") Шри-Ланка
								li
									a.countryflag.countryflag-southkorea(href="./country.html") Южная Корея
								li
									a.countryflag.countryflag-japan(href="./country.html") Япония
							h2 Африка
							ul.list-unstyled.columns-4
								li
									a.countryflag.countryflag-egypt(href="./country.html") Египет
								li
									a.countryflag.countryflag-kenya(href="./country.html") Кения
								li
									a.countryflag.countryflag-mauritius(href="./country.html") Маврикий
								li
									a.countryflag.countryflag-madagascar(href="./country.html") Мадагаскар
								li
									a.countryflag.countryflag-marocco(href="./country.html") Марокко
								li
									a.countryflag.countryflag-seychelles(href="./country.html") Сейшелы
								li
									a.countryflag.countryflag-tanzania(href="./country.html") Танзания
								li
									a.countryflag.countryflag-tunisia(href="./country.html") Тунис
								li
									a.countryflag.countryflag-southafrica(href="./country.html") ЮАР
							h2 Америка
							ul.list-unstyled.columns-4
								li
									a.countryflag.countryflag-argentina(href="./country.html") Аргентина
								li
									a.countryflag.countryflag-bahamas(href="./country.html") Багамы
								li
									a.countryflag.countryflag-barbados(href="./country.html") Барбадос
								li
									a.countryflag.countryflag-brazil(href="./country.html") Бразилия
								li
									a.countryflag.countryflag-venezuela(href="./country.html") Венесуэла
								li
									a.countryflag.countryflag-dominicana(href="./country.html") Доминикана
								li
									a.countryflag.countryflag-costarica(href="./country.html") Коста-Рика
								li
									a.countryflag.countryflag-cuba(href="./country.html") Куба
								li
									a.countryflag.countryflag-mexico(href="./country.html") Мексика
								li
									a.countryflag.countryflag-panama(href="./country.html") Панама
								li
									a.countryflag.countryflag-peru(href="./country.html") Перу
								li
									a.countryflag.countryflag-usa(href="./country.html") США
								li
									a.countryflag.countryflag-chile(href="./country.html") Чили
								li
									a.countryflag.countryflag-ecuador(href="./country.html") Эквадор
								li
									a.countryflag.countryflag-jamaica(href="./country.html") Ямайка
							h2 Австралия
							ul.list-unstyled.columns-4
								li
									a.countryflag.countryflag-argentina(href="./country.html") Австралия
								li
									a.countryflag.countryflag-newzealand(href="./country.html") Новая Зеландия
								li
									a.countryflag.countryflag-polynesia(href="./country.html") Полинезия
								li
									a.countryflag.countryflag-fiji(href="./country.html") Фиджи

				.col-md-4.hidden-sm
					.sidebar
						+banner-expert
	+footer-base
	+modal-search
	include ./base/modal-city.jade
	include ./base/scripts.jade