include ./base/sidenav.jade
include ./base/banners.jade
include ./base/footers.jade

doctype html
head
	title Viasun2 — Виза
	include ./base/head.jade
body.body-sidenav
	+sidenav-country("Visa")
	include ./base/navbar.jade
	.header
		.container
			h1 Виза в Австрию
	.page
		.container
			.row
				.col-md-12
					.content
						.block.block-plaintext
							.row.stickem-container
								.col-sm-3
									ul.nav.nav-aside.stickem
										li
											a(href="./visa.html")
												span Справочник
										li
											a(href="./visa.html")
												span Валюта
										li.active
											a(href="./visa.html")
												span Виза
										li
											a(href="./visa.html")
												span Кухня
										li
											a(href="./visa.html")
												span Транспорт
										li
											a(href="./visa.html")
												span Шоппинг
								.col-sm-13
									p Гражданам России и стран СНГ, отправляющимся в Австрию, необходима шенгенская виза.
									h2 Типы виз
									p Существует три основных типа виз в Австрию:
									ul
										li Виза категории А.
										li Виза категории В.
										li Виза категории D.
									p
										strong Визы категории А
										|  выдаются тем, кто совершает транзит через территорию Австрии в третьи страны. Обладатель такой визы не имеет права покидать транзитную зону аэропорта.
									p
										strong Визы категории В
										|  выдаются лицам, отправляющимся в Австрию в кратковременную туристическую поездку, деловую командировку, в гости к друзьям или родственникам либо тем, кто совершает транзит через территорию Австрии и желает во время него покинуть транзитную зону аэропорта. Действительны на территории всех стран Шенгена.
									p
										strong Визы категории D
										|  действительны только на территории Австрии и выдаются лицам, планирующим находиться в стране от 3 до 6 месяцев.
									h2 Порядок оформления визы
									p Документы на оформление визы можно подать непосредственно в австрийское консульство в Москве. Это делается лично, через аккредитованного курьера либо через близких родственников (при наличии документа, подтверждающего родство и выданных заявителю ранее шенгенских виз). На прием в консульство необходимо записываться заранее на его сайте либо лично явившись туда в среду с 13:30 до 14:30. На прием в консульство необходимо прибыть без опозданий: если заявитель не явился в течение 30 минут с назначенного времени, ему отказывают в приеме документов.
									p Документы на оформление визы можно подать непосредственно в австрийское консульство в Москве. Это делается лично, через аккредитованного курьера либо через близких родственников (при наличии документа, подтверждающего родство и выданных заявителю ранее шенгенских виз). На прием в консульство необходимо записываться заранее на его сайте либо лично явившись туда в среду с 13:30 до 14:30. На прием в консульство необходимо прибыть без опозданий: если заявитель не явился в течение 30 минут с назначенного времени, ему отказывают в приеме документов.
									p
										strong Стоимость.
										|  За оформление визы категории С требуется оплатить сбор в размере 35 евро, а если необходимо оформить визу срочно – 70 евро. Виза категории D будет стоить 75 евро. При подаче документов заявителю выдается платежное извещение, по которому затем нужно оплатить сбор в одном из отделений ЗАО «Райффайзенбанк». При получении паспорта с визой необходимо предъявить извещение с отметкой об оплате.
									p
										strong Сроки оформления.
										|  Как правило, на оформление визы в Австрию требуется от 5 рабочих дней до 2 недель. Существует возможность оформить визу срочно – за 3 дня.
									h2 Документы, необходимые для оформления визы, иные требования
									p Для оформления визы в Австрию категории С потребуются следующие документы:
									ul
										li Заграничный паспорт, действительный в течение не менее 3 месяцев с предполагаемого дня окончания поездки. В нем должно иметься не менее двух свободных страниц.
										li Копия первой страницы заграничного паспорта, содержащей личные данные заявителя.
										li Если у заявителя имеются ранее выданные шенгенские визы – их копии. Если на момент подачи заявления имеются действующие шенгенские визы, пересекающиеся по срокам с запрашиваемой, их необходимо аннулировать.
										li Подписанная заявителем визовая анкета, заполненная на немецком или английском языке.
										li Инструкция о сроках пребывания на территории Шенгена, подписанная заявителем (можно найти на сайте посольства).
										li Две цветные фотографии с размерам 3,5х4,5 см. Одну фотографию следует приклеить к анкете, вторую – на оборотную сторону обложки загранпаспорта (в левый верхний угол). Фото к паспорту следует приклеивать отделяемым скотчем так, чтобы он не попадал на изображение.
										li Копии всех страниц внутреннего паспорта, содержащих какую-либо информацию.
										li Для туристов – ваучер австрийской туристической фирмы либо подтверждение брони отеля, в котором должны быть указаны имена и фамилии туристов, тип номера, сроки поездки, адрес отеля и номер брони.
										li Для отправляющихся в деловую поездку – приглашение от партнера в Австрии, напечатанное на фирменном бланке и подписанное. В нем следует указать фамилию, имя, дату рождения и номер паспорта приглашаемого, а также сроки и цель поездки.
										li Для отправляющихся в Австрию с частным визитом – идентификационный номер электронного приглашения EVE (приглашение должно быть заверено в управлении полиции по делам иностранцев в Австрии) либо оригинал приглашения, заверенный нотариусов в Австрии. К приглашению прилагаются: доказательства степени родства (для родственников) приглашающего и приглашаемого, доказательства финансовой состоятельности приглашающего и документы, подтверждающие, что приглашающий проживает в Австрии легально.
										li Справка с места работы, напечатанная на фирменном бланке предприятия и содержащая информацию об окладе, стаже и должности заявителя. Для индивидуальных предпринимателей – свидетельства о регистрации предприятия и постановке его на налоговый учет.
										li Для пенсионеров – копия пенсионного удостоверения и выписка с банковского счета либо справка с места работы лица, спонсирующего поездку, а также, его аявление о спонсорстве, копия его российского паспорта и документа, подтверждающего родство.
										li Для школьников и студентов – справка с места учебы и справка с места работы лица, спонсирующего поездку, а также, его заявление о спонсорстве, копия его российского паспорта и документа, подтверждающего родство.
										li Подтверждение наличия достаточных денежных средств для осуществления поездки (выписка с банковского счета, копия сберегательной книжки и т.д.)
										li Оригинал и копия действующей в течение всего срока поездки на всей территории Шенгена медицинской страховки, которая покрывает не менее 30 000 евро. Страховой полис должен быть выписан европейской либо одной из аккредитованных российских страховых компаний.
										li Авиабилеты в обе стороны либо их бронь.
										li В случае путешествия на личном автомобиле – копия водительских прав, копия свидетельства о регистрации автомобиля и копия действительного в течение всей поездки международного страхового полиса Green Card
										li Для оформления транзитной визы – копия визы в страну следования (если она необходима) и авиабилеты по всему маршруту.
										li Для детей – нотариально заверенная копия свидетельства о рождении. Для детей, путешествующих с одним родителем либо третьими лицами, – нотариально заверенное разрешение от оставшегося родителя (родителей).
									p Консульство имеет право в любой момент потребовать дополнительные документы, подтверждающие финансовую состоятельность заявителя. Документы на русском языке настоятельно рекомендуется перевести на английский либо немецкий язык – это ускорит сроки рассмотрения заявления.
									p При подаче заявления документы необходимо сложить в следующем порядке:
									ul
										li Анкета.
										li Справка с места работы.
										li Выписка с банковского счета.
										li Бронь отеля или приглашение от физического или юридического лица.
										li Билеты.
										li Страховой медицинский полис.
										li Копии предыдущих шенгенских виз.
										li Копия первой страницы загранпаспорта.
									p К фотографиям предъявляются следующие требования:
									ul
										li Размер фото – 3,5х4,5 см.
										li Изображение должно быть четким, цветным, выполненным на светлом однотонном фоне.
										li Фото должно быть сделано не ранее, чем за полгода до подачи документов.
										li Изображение лица заявителя должно занимать 70-80% фотографии.
										li На фотографии не должно присутствовать рамок, уголков и овалов.
										li Заявитель на фото должен быть без шляп, солнцезащитных очков и платков (за исключением случаев, обусловленных религиозными соображениями).
									h2 Контакты посольств и консульств в Российской Федерации
									h3 Посольство Австрии в Москве
									p Адрес: Староконюшенный пер., 1
										br
										| Тел.: (495) 780-60-66, факс (495) 937-42-69
										br
										| Сайт: 
										a(href="http://www.bmeia.gv.at/ru/botschaft/moskau.html") http://www.bmeia.gv.at/ru/botschaft/moskau.html
									h3 Консульский отдел посольства Австрии в Москве
									p Адрес: Б. Левшинский пер., 7
										br
										| Тел.: (495) 956-16-60, факс (495) 637-42-68
										br
										| E-mail: 
										a(href="mailto:moskau-ka@bmeia.gv.at") moskau-ka@bmeia.gv.at
									h3 Визовый центр Австрии в Москве
									p Адрес: ул. Сущевский Вал, 31 стр. 2
										br
										| Тел.: (495) 989-96-23
										br
										| Сайт: 
										a(href="http://www.austriavisa-russia.com/") http://www.austriavisa-russia.com/
									h3 Генконсульство Австрии в Санкт-Петербурге
									p Адрес: ул. Фурштадтская 43, оф. 1
										br
										| Тел./факс: (812) 275-05-02, (812) 275-04-96, (812) 275-11-70
				.col-md-4.hidden-sm
					.sidebar
						+banner-expert
	
	+footer-country
	+footer-base
	include ./base/modal-city.jade
	include ./base/scripts.jade
	script(src="./js/stickem.js")
	script(src="./js/texts.js")