.block.block-stroked
	h3 Горящие туры и&nbsp;акции
	.row
		.col-sm-9
			.sale.sale-large
				img(src="./ct/banner-sale.jpg")
				.sale-text
					h3
						a(href="./advert.html") Online-бронирование от&nbsp;Pegas
					p Мы предоставляем услуги по продаже экскурсионных туров в Египет, Тайланд, ОАЭ, Испанию, Италию, Грецию, Тунис и др. стран.
					p.small.text-light Загорелый пингвин
		.col-sm-7
			.sale
				img(src="http://storage.viasun.ru/motion/b8m5b5nv9s.jpg")
				.sale-text
					h5
						a(href="./advert.html") Весь январь покупай дешевле
					p Стартовало раннее бронирование
					p.small.text-light Pegas Touristik
			.sale
				img(src="http://storage.viasun.ru/motion/o03zorzguo.jpg")
				.sale-text
					h5
						a(href="./advert.html") Египет 8200 р, Тайланд 32400 р.
					p Самые низкие цены!
					p.small.text-light Roundtrip
	.block-readmore
		a(href="./adverts.html") Все предложения агентств