mixin footer-base
	.footer
		.container
			.row
				.col-sm-6
					p &copy;2010-2015 Viasun.ru
				.col-sm-10
					ul.list-inline
						li
							a(href="./about.html") О&nbsp;проекте
						li
							a(href="./feedback.html") Обратная связь
						li
							a(href="./advertise.html") Агентствам
						li
							a.text-success(href="http://agency.viasun.ru/") Вход для&nbsp;агентств
			.row
				.col-sm-6
					p
						span.text-light Разработка и&nbsp;продвижение сайта
						br
						a(href="http://constructivesolutions.ru/") Constructive Solutions
				.col-sm-10
					p Все материалы и&nbsp;цены, размещенные на&nbsp;сайте, носят справочный характер и&nbsp;не&nbsp;являются ни&nbsp;публичной офертой, ни&nbsp;рекламой.

mixin footer-country
	.footer.footer-pre
		.container
			.row
				.col-sm-6
					h3 Путеводитель по&nbsp;Австрии
					.row
						.col-sm-8
								ul.list-unstyled
									li
										a(href="./visa.html") Справочник
									li
										a(href="./visa.html") Валюта
									li
										a(href="./visa.html") Виза
						.col-sm-8
								ul.list-unstyled
									li
										a(href="./visa.html") Кухня
									li
										a(href="./visa.html") Транспорт
									li
										a(href="./visa.html") Шоппинг
				.col-sm-10
					h3 Курорты Австрии
					.row
						.col-sm-4
								ul.list-unstyled
									li
										a(href="./resort.html") Вена
									li
										a(href="./resort.html") Зальцбург
									li
										a(href="./resort.html") Инсбрук
						.col-sm-4
								ul.list-unstyled
									li
										a(href="./resort.html") Каринтия
