mixin hotel(image, rating, name, description, resort, stars)
	.hotel-image
		img(src="http://hotels.sletat.ru/i/p/"+image+"_0_120_180_1.jpg")
		.hotel-rating-squared= rating
	.text-warning
		span.glyphicon.glyphicon-star
		span.glyphicon.glyphicon-star
		if stars>2
			span.glyphicon.glyphicon-star
		if stars>3
			span.glyphicon.glyphicon-star
		if stars>4
			span.glyphicon.glyphicon-star
	h4
		a(href="hotel.html")= name
	p.hotel-description= description
	p.small.text-light= resort
	
mixin hotels-tabs
	.tabpanel
		ul.nav.nav-lines
			li.active
				a(href="#", data-toggle="tab", data-target=".hotels-5stars") 5&nbsp;звёзд
			li
				a(href="#", data-toggle="tab", data-target=".hotels-4stars") 4&nbsp;звезды
			li
				a(href="#", data-toggle="tab", data-target=".hotels-3stars") 3&nbsp;звезды
			li
				a(href="#", data-toggle="tab", data-target=".hotels-2stars") 2&nbsp;звезды
		.tab-content
			.tab-pane.hotels-5stars.hotels-showcase.active
				.row
					.col-sm-4
						+hotel("13507", "9.0", "Austria Trend Hotel Europa Wien", "Mui Ne Ocean расположен на берегу моря, представляет собой двухэтажные каменные виллы и одноэтажные деревянные домики, построенные", "Вена", 5)
					.col-sm-4
						+hotel("42422", "8.0", "Best Western Hotel Das Tigra", "В самом центре австрийской столицы находится уютный семейный отель Das Tigra, который входит в мировую гостиничную сеть Best Western. Его расположение является большим плюсом для тех, кто хочет окунуться в романтический мир венских дворцов, парков, концертных залов и музеев", "Вена", 5)
					.col-sm-4
						+hotel("11323", "9.2", "Delta Hotel Vienna", "Современный четырехзвездочный отель Delta обосновался рядом с Южным железнодорожным вокзалом австрийской столицы. В исторический центр города можно добраться на метро – ближайшая станция Keplerplatz находится всего в трех минутах ходьбы", "Вена", 5)
					.col-sm-4
						+hotel("22007", "9.7", "Kolbeck", "Расположение Hotel Kolbeck прекрасно подходит как для бизнесменов, так и для туристов, приехавших в город Вена. Для комфорта постояльцев во всех номерах отеля предоставлены удобства, ожидаемые от отеля этого класса", "Вена", 5)
			.tab-pane.hotels-4stars.hotels-showcase
				.row
					.col-sm-4
						+hotel("1175", "8.0", "Hotel Alexander Wien", "Mui Ne Ocean расположен на берегу моря, представляет собой двухэтажные каменные виллы и одноэтажные деревянные домики, построенные", "Вена", 4)
					.col-sm-4
						+hotel("2182", "8.0", "Austria Trend Hotel Ananas", "В самом центре австрийской столицы находится уютный семейный отель Das Tigra, который входит в мировую гостиничную сеть Best Western. Его расположение является большим плюсом для тех, кто хочет окунуться в романтический мир венских дворцов, парков, концертных залов и музеев", "Вена", 4)
					.col-sm-4
						+hotel("18521", "9.2", "Holiday Inn Vienna City", "Современный четырехзвездочный отель Delta обосновался рядом с Южным железнодорожным вокзалом австрийской столицы. В исторический центр города можно добраться на метро – ближайшая станция Keplerplatz находится всего в трех минутах ходьбы", "Вена", 4)
					.col-sm-4
						+hotel("20293", "9.7", "InterCityHotel Wien", "Расположение Hotel Kolbeck прекрасно подходит как для бизнесменов, так и для туристов, приехавших в город Вена. Для комфорта постояльцев во всех номерах отеля предоставлены удобства, ожидаемые от отеля этого класса", "Вена", 4)
			.tab-pane.hotels-3stars.hotels-showcase
				.row
					.col-sm-4
						+hotel("20403", "9.0", "InterContinental Wien", "Mui Ne Ocean расположен на берегу моря, представляет собой двухэтажные каменные виллы и одноэтажные деревянные домики, построенные", "Вена", 3)
					.col-sm-4
						+hotel("43896", "8.0", "Vienna Marriott", "В самом центре австрийской столицы находится уютный семейный отель Das Tigra, который входит в мировую гостиничную сеть Best Western. Его расположение является большим плюсом для тех, кто хочет окунуться в романтический мир венских дворцов, парков, концертных залов и музеев", "Вена", 3)
					.col-sm-4
						+hotel("11323", "9.2", "Delta Hotel Vienna", "Современный четырехзвездочный отель Delta обосновался рядом с Южным железнодорожным вокзалом австрийской столицы. В исторический центр города можно добраться на метро – ближайшая станция Keplerplatz находится всего в трех минутах ходьбы", "Вена", 3)
					.col-sm-4
						+hotel("22007", "9.7", "Kolbeck", "Расположение Hotel Kolbeck прекрасно подходит как для бизнесменов, так и для туристов, приехавших в город Вена. Для комфорта постояльцев во всех номерах отеля предоставлены удобства, ожидаемые от отеля этого класса", "Вена", 3)
			.tab-pane.hotels-2stars.hotels-showcase
				.row
					.col-sm-4
						+hotel("13507", "9.0", "Austria Trend Hotel Europa Wien", "Mui Ne Ocean расположен на берегу моря, представляет собой двухэтажные каменные виллы и одноэтажные деревянные домики, построенные", "Вена", 2)
					.col-sm-4
						+hotel("42422", "8.0", "Best Western Hotel Das Tigra", "В самом центре австрийской столицы находится уютный семейный отель Das Tigra, который входит в мировую гостиничную сеть Best Western. Его расположение является большим плюсом для тех, кто хочет окунуться в романтический мир венских дворцов, парков, концертных залов и музеев", "Вена", 2)
					.col-sm-4
						+hotel("11323", "9.2", "Delta Hotel Vienna", "Современный четырехзвездочный отель Delta обосновался рядом с Южным железнодорожным вокзалом австрийской столицы. В исторический центр города можно добраться на метро – ближайшая станция Keplerplatz находится всего в трех минутах ходьбы", "Вена", 2)
					.col-sm-4
						+hotel("22007", "9.7", "Kolbeck", "Расположение Hotel Kolbeck прекрасно подходит как для бизнесменов, так и для туристов, приехавших в город Вена. Для комфорта постояльцев во всех номерах отеля предоставлены удобства, ожидаемые от отеля этого класса", "Вена", 2)

mixin hotels-showcase(tabbed)
	.block
		.block-header
			h2 Рекомендуем отели
			.block-header-nav
				a(href="./hotels-rating.html") Рейтинг отелей Австрии
				a(href="./hotels-country.html") Отели Австрии
		if tabbed
			+hotels-tabs
		else
			.hotels-showcase
				.row
					.col-sm-4
						+hotel("13507", "9.0", "Austria Trend Hotel Europa Wien", "Mui Ne Ocean расположен на берегу моря, представляет собой двухэтажные каменные виллы и одноэтажные деревянные домики, построенные", "Вена", 4)
					.col-sm-4
						+hotel("42422", "8.0", "Best Western Hotel Das Tigra", "В самом центре австрийской столицы находится уютный семейный отель Das Tigra, который входит в мировую гостиничную сеть Best Western. Его расположение является большим плюсом для тех, кто хочет окунуться в романтический мир венских дворцов, парков, концертных залов и музеев", "Вена", 5)
					.col-sm-4
						+hotel("11323", "9.2", "Delta Hotel Vienna", "Современный четырехзвездочный отель Delta обосновался рядом с Южным железнодорожным вокзалом австрийской столицы. В исторический центр города можно добраться на метро – ближайшая станция Keplerplatz находится всего в трех минутах ходьбы", "Вена", 5)
					.col-sm-4
						+hotel("22007", "9.7", "Kolbeck", "Расположение Hotel Kolbeck прекрасно подходит как для бизнесменов, так и для туристов, приехавших в город Вена. Для комфорта постояльцев во всех номерах отеля предоставлены удобства, ожидаемые от отеля этого класса", "Вена", 5)
		.block-readmore
			a(href="./hotels-country.html") Ещё 12&nbsp;рекомендованных отелей