.modal.fade.modal-city(tabindex="-1")
	.modal-dialog.modal-lg
		.modal-content
			button.close(type="button", data-dismiss="modal")
				span.helioicon.helioicon-close
			.modal-header
				h2 Выберите город
			.modal-body
				.select-city
					.columns-4
						.columns-block
							.select-city-letter А
							.select-city-list
								a(href="#") Абакан
								a(href="#") Ангарск
								a(href="#") Архангельск
								a(href="#") Астрахань
						.columns-block
							.select-city-letter Б
							.select-city-list
								a(href="#") Барнаул
								a(href="#") Белгород
								a(href="#") Благовещенск
								a(href="#") Братск
								a(href="#") Брянск
						.columns-block
							.select-city-letter В
							.select-city-list
								a(href="#") Великий Новгород
								a(href="#") Владивосток
								a(href="#") Владимир
								a(href="#") Волгоград
								a(href="#") Волжский
								a(href="#") Вологда
								a(href="#") Воронеж
						.columns-block
							.select-city-letter Е
							.select-city-list
								a(href="#") Екатеринбург
						.columns-block
							.select-city-letter И
							.select-city-list
								a(href="#") Иваново
								a(href="#") Ижевск
								a(href="#") Иркутск
						.columns-block
							.select-city-letter Й
							.select-city-list
								a(href="#") Йошкар-Ола
						.columns-block
							.select-city-letter К
							.select-city-list
								a(href="#") Казань
								a(href="#") Калининград
								a(href="#") Калуга
								a(href="#") Кемерово
								a(href="#") Киров
								a(href="#") Комсомольск-на-Амуре
								a(href="#") Кострома
								a(href="#") Краснодар
								a(href="#") Красноярск
								a(href="#") Курган
								a(href="#") Курск
						.columns-block
							.select-city-letter Л
							.select-city-list
								a(href="#") Липецк
						.columns-block
							.select-city-letter М
							.select-city-list
								a(href="#") Магнитогорск
								a(href="#") Москва
								a(href="#") Мурманск
						.columns-block
							.select-city-letter Н
							.select-city-list
								a(href="#") Набережные Челны
								a(href="#") Нижневартовск
								a(href="#") Нижний Новгород
								a(href="#") Нижний Тагил
								a(href="#") Новокузнецк
								a(href="#") Новороссийск
								a(href="#") Новосибирск
						.columns-block
							.select-city-letter О
							.select-city-list
								a(href="#") Омск
								a(href="#") Орел
								a(href="#") Оренбург
						.columns-block
							.select-city-letter П
							.select-city-list
								a(href="#") Пенза
								a(href="#") Пермь
								a(href="#") Петрозаводск
								a(href="#") Псков
						.columns-block
							.select-city-letter Р
							.select-city-list
								a(href="#") Ростов-на-Дону
								a(href="#") Рязань
						.columns-block
							.select-city-letter С
							.select-city-list
								a(href="#") Самара
								a(href="#") Санкт-Петербург
								a(href="#") Саратов
								a(href="#") Смоленск
								a(href="#") Сочи
								a(href="#") Ставрополь
								a(href="#") Стерлитамак
								a(href="#") Сургут
								a(href="#") Сыктывкар
						.columns-block
							.select-city-letter Т
							.select-city-list
								a(href="#") Тамбов
								a(href="#") Тверь
								a(href="#") Тольятти
								a(href="#") Томск
								a(href="#") Тула
								a(href="#") Тюмень
						.columns-block
							.select-city-letter У
							.select-city-list
								a(href="#") Улан-Удэ
								a(href="#") Ульяновск
								a(href="#") Уфа
						.columns-block
							.select-city-letter Х
							.select-city-list
								a(href="#") Хабаровск
						.columns-block
							.select-city-letter Ч
							.select-city-list
								a(href="#") Чебоксары
								a(href="#") Челябинск
								a(href="#") Чита
						.columns-block
							.select-city-letter Ю
							.select-city-list
								a(href="#") Южно-Сахалинск
						.columns-block
							.select-city-letter Я
							.select-city-list
								a(href="#") Якутск
								a(href="#") Ярославль

