//-script(src="//code.jquery.com/jquery-1.11.2.min.js")
script(src="http://code.jquery.com/jquery-1.11.2.min.js")
script(src="./js/lib/moment.min.js")
script(src="./js/lib/moment.ru.js")
script(src="./js/lib/slider-pro.min.js")
script(src="./js/simpleselect.js")
script(src="./js/lib/bootstrap.min.js")
script(src="./js/main.js")