script(src="./js/lib/jquery.fixture.js")
script(src="./js/lib/selectize.min.js")
script(src="./js/lib/bootstrap-multiselect.js")
script(src="./js/lib/bootstrap-datepicker.js")
script(src="./js/lib/bootstrap-datepicker.ru.js")
script(src="./js/search.js")